{# app/Resources/views/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block login %}
    <div class="col-xs-4 col-sm-4 login">
        <form action="{{ path('login_check') }}" method="post">
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <input type="hidden" name="_target_path" value="/"/>
            <div class="form-group">
                <label for="username">Användarnamn:</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div class="form-group">
                <label for="password">Lösenord:</label>
                <input type="password" class="form-control" id="password" name="_password" />
            </div>
            <button type="submit" class="btn btn-primary">login</button>
        </form>
    </div>
{% endblock %}
